# Repaso

In [1]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
print('Hola Mundo','como estas', end='?',sep='_')

Hola Mundo_como estas?

# Tipos de datos

In [ ]:
entero=1
decimal=12.5
string='Hola Mundo'
boolean=True

In [5]:
entero=10
print(entero, '10', 10.0)

10 10 10.0

In [8]:
print(entero *10)
print('10'*10)

100
10101010101010101010

# Octal

In [ ]:
print(0o123)

83

# Hexadecimal

In [ ]:
print(0x123)

291

# Cambio de tipo de dato

In [11]:
print(float(234))
print(int(12.9))
str(45)

234.0
12

'45'

In [13]:
x = 10

print('x')
str(x)

x

'10'

# Operaciones

In [18]:
x = input()
y = x + input()

In [20]:
eval(y)

19

In [15]:
eval("10+15-3+2")

24

In [ ]:
a=float(input('Dame un número: '))
b=float(input('Dame un número: '))

print()
print()
print('Suma: ', a+b)
print('Multiplicación: ', a*b)
print('Resta: ', a-b)
print('División: ', a/b)
print('División entera: ', a//b)
print('Módulo: ', a%b)
print('Exponente: ', a**b)
print('Raíz: ', a**(1/b))

Dame un número: 12
Dame un número: 34


Suma:  46
Multiplicación:  408
Resta:  -22
División:  0.35294117647058826
División entera:  0
Módulo:  12
Exponente:  4922235242952026704037113243122008064

# Operadores lógicos

In [ ]:
1==2

False

In [ ]:
1!=2

True

In [ ]:
print(1<2)
1>2

True

False

In [ ]:
1>=2

False

In [ ]:
!=
>=
<=

# Condicionales

In [23]:
if False:
    print("Hola")
    pass
else:
    print("adios")

adios

* Verdadero con and necesito los dos verdaderos
* Verdadero con un or necesito al menos un verdadero
* Con not cambio el status de mi boolean

In [ ]:
and, or, not

In [ ]:
numero = int(input())

if numero>0:
    print("positivo")
elif numero==0:
    print("tu numero es cero")
else: 
    print("negativo")

In [33]:
age = int(input("¿Cuál es tu edad? "))
income = float(input("¿Cuales son tus ingresos mensuales?"))
if age>35 and income>=50000:
    print('Pagas el doble')
elif age > 18 and income >= 10000:
    print("Tienes que pagar impuestos")
else:
  print("No tienes que pagar impuestos")

Tienes que pagar impuestos

# Reto 1
Los alumnos de un curso se han dividido en dos grupos A y B de acuerdo al sexo y el nombre. El grupo A esta formado por las mujeres con un nombre anterior a la M y los hombres con un nombre posterior a la N y el grupo B por el resto. Escribir un programa que pregunte al usuario su nombre y sexo, y muestre por pantalla el grupo que le corresponde.

In [ ]:
name = input("¿Cómo te llamas? ")
gender = input("¿Cuál es tu sexo (M o H)? ").upper()
if gender == "M":
    if name.lower() < "m":
        group = "A"
    else:
        group = "B"
else:
    if name.lower() > "n":
        group = "A"
    else:
        group = "B"
print("Tu grupo es " + group)

In [ ]:
name = input("¿Cómo te llamas? ")
gender = input("¿Cuál es tu sexo (M o H)? ")
if (gender == "M" and name.lower() < 'm') or (gender == "H" and name.lower() > 'n'):
    group = "A"
else:
    group = "B"
print("Tu grupo es " + group)

# Reto 2

Los tramos impositivos para la declaración de la renta en un determinado país son los siguientes:

|Renta  |	Tipo impositivo|
| :---: | :------------: |
|Menos de 10000€|	5%|
|Entre 10000€ y 20000€|	15%|
|Entre 20000€ y 35000€|	20%|
|Entre 35000€ y 60000€|	30%|
|Más de 60000€|	45%|


Escribir un programa que pregunte al usuario su renta anual y muestre por pantalla el tipo impositivo que le corresponde.

In [ ]:
# Preguntar al usuario por la renta
renta = float(input("¿Cuál es tu renta anual? "))
# Condicional para determinar el tipo impositivo dependiendo de la renta
if renta < 10000:
    tipo = 5
elif renta < 20000:
    tipo = 15
elif renta < 35000:
    tipo = 20
elif renta < 60000:
    tipo = 30
else:
    tipo = 45
# Mostrar por pantalla el producto de la renta por el tipo impositivo
print("Tienes que pagar ", renta * tipo / 100, "$", sep='')

¿Cuál es tu renta anual? 10000
Tienes que pagar 1500.0€

# Ciclos

Escribir un programa que pregunte al usuario una cantidad a invertir, el interés anual y el número de años, y muestre por pantalla el capital obtenido en la inversión cada año que dura la inversión.

In [ ]:
amount = float(input("¿Cantidad a invertir? "))
interest = float(input("¿Interés porcentual anual? "))
years = int(input("¿Años? "))
for i in range(years):
    amount *= 1 + interest / 100 
    print("|Capital tras |" + str(i+1) + "| años: |" + str(round(amount, 2)), end='| \n')

¿Cantidad a invertir? 100000
¿Interés porcentual anual? 7.25
¿Años?3
|Capital tras |1| años: |107250.0|
|Capital tras |2| años: |115025.62|
|Capital tras |3| años: |123364.98|

# Reto 3

Escribir un programa que pida al usuario un número entero y muestre por pantalla un triángulo rectángulo como el de más abajo, de altura el número introducido.
~~~
*
**
***
****
*****
~~~

In [ ]:
n = int(input("Introduce la altura del triángulo (entero positivo): "))
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print("")

In [ ]:
n = int(input("Introduce la altura del triángulo (entero positivo): "))
for i in range(n):
   print("*"*(i+1))

# Reto 4
Escribir un programa en el que se pregunte al usuario por una frase y una letra, y muestre por pantalla el número de veces que aparece la letra en la frase.

In [ ]:
frase = input("Introduce una frase: ")
letra = input("Introduce una letra")
contador = 0
for i in frase:
    if i == letra:
        contador += 1
print("La letra '%s' aparece %2i veces en la frase '%s'." % (letra, contador, frase))

In [ ]:
frase=input('Escribe una frase u oración o escribe 0 para detener: ')
if frase!='0':
  letra=input('Elige una letra:')

boton_cancel='0'

while frase!=boton_cancel:
  contador=0
  for i in frase:
    if i== letra:
      contador +=1
  print('La '+ str(letra) + ' aparece ' + str(contador) + ' veces.')

  frase=input('Escribe una frase u oración (o escribe 0 para detener): ')
  if frase!='0':
    letra=input('Elige una letra:')

# Funciones

Escribir una función a la que se le pase una cadena 
~~~
<nombre>
~~~
 y muestre por pantalla el saludo 
 ~~~
 ¡hola <nombre>!.
 ~~~

In [ ]:
def greet(nombre):
    """Función que muestra un saludo por pantalla.
    Parámetros
    nombre: Nombre del usuario
    Devuelve el saludo ¡Hola nombre!.
    """
    print('¡Hola ' + nombre +'!')
    return

greet('Alf')
greet('Python')

¡Hola Alf!
¡Hola Python!

In [ ]:
greet?

In [ ]:
def greet(nombre):
    """Función que muestra un saludo por pantalla.
    Parámetros
    nombre: Nombre del usuario
    Devuelve el saludo ¡Hola nombre!.
    """
    return '¡Hola ' + nombre +'!'

var=greet('daniel')
dar=greet('David')

dar

'¡Hola David!'

Escribir una función que reciba un número entero positivo y devuelva su factorial.

In [ ]:
def factorial(n):
    """Función que calcula el factorial de un número entero positivo.
    Parámetros
    n: Es un entero positivo.
    
    Devuelve el factorial de n.
    """
    tmp = 1
    for i in range(n):
        tmp *= i+1
    return tmp

print(factorial(4))
print(factorial(20))

24
2432902008176640000

In [ ]:
?factorial

# Retos finales

Escribir una función que calcule el total de una factura tras aplicarle el IVA. La función debe recibir la cantidad sin IVA y el porcentaje de IVA a aplicar, y devolver el total de la factura. Si se invoca la función sin pasarle el porcentaje de IVA, deberá aplicar un 21%.

In [ ]:
def invoice(amount, vat=21):
    """Función de aplica el IVA a una factura.
    Parametros
    amount: Es la cantidad sin IVA
    vat: Es el porcentaje de IVA
    Devuelve el total de la factura una vez aplicado el IVA. 
    """
    return amount + amount*vat/100

print(invoice(1000,10))
print(invoice(1000))

1100.0
1210.0

# Escribir una función que reciba una muestra de números en una lista y devuelva su media.

In [ ]:
def mean(sample):
    """Función que calcula la media de una muestra de números.
    Parámetros
    sample: Es una lista de números
    Devuelve la media de los números en sample. 
    """
    return sum(sample)/len(sample)

print(mean([1, 2, 3, 4, 5]))
print(mean([2.3, 5.7, 6.8, 9.7, 12.1, 15.6]))

In [ ]:
def mean(*sample):
    """Función que calcula la media de una muestra de números.
    Parámetros
    *sample: Secuencia de números separados por comas.
    Devuelve la media de los números en *sample. 
    """
    return sum(sample)/len(sample)

print(mean(1, 2, 3, 4, 5))
print(mean(2.3, 5.7, 6.8, 9.7, 12.1, 15.6))

# Escribir una función que reciba una muestra de números en una lista y devuelva otra lista con sus cuadrados.

In [ ]:
def square(sample):
    """Función que calcula los cuadrados de una lista de números.
    Parámetros
    sample: Es una lista de números
    Devuelve una lista con los cuadrados de los números de la lista sample.
    """
    list = []
    for i in sample:
        list.append(i**2)
    return list

print(square([1, 2, 3, 4, 5]))
print(square([2.3, 5.7, 6.8, 9.7, 12.1, 15.6]))

[1, 4, 9, 16, 25]
[5.289999999999999, 32.49, 46.239999999999995, 94.08999999999999, 146.41, 243.35999999999999]

In [ ]:
def square(*sample):
    """Función que calcula los cuadrados de una lista de números.
    Parámetros
    *sample: Es una secuencia de números separados por comas.
    Devuelve una lista con los cuadrados de los números de sample.
    """
    list = []
    for i in sample:
        list.append(i**2)
    return list

print(square(1, 2, 3, 4, 5))
print(square(2.3, 5.7, 6.8, 9.7, 12.1, 15.6))

# Escribir un programa que reciba una cadena de caracteres y devuelva un diccionario con cada palabra que contiene y su frecuencia. Escribir otra función que reciba el diccionario generado con la función anterior y devuelva una tupla con la palabra más repetida y su frecuencia.

In [ ]:
def count_words(text):
    """Función que cuenta el número de veces que aparece cada palabra en un texto.
    Parámetros:
        - text: Es una cadena de caracteres.
    Devuelve: 
        Un diccionario con pares palabra:frecuencia con las palabras contenidas en el texto y su frecuencia.
    """
    text = text.split()
    words = {}
    for i in text:
        if i in words:
            words[i] += 1
        else:
            words[i] = 1
    return words

def most_repeated(words):
    max_word = ''
    max_freq = 0
    for word, freq in words.items():
        if freq > max_freq:
            max_word = word
            max_freq = freq
    return max_word, max_freq

text = 'Como quieres que te quiera si el que quiero que me quiera no me quiere como quiero que me quiera'
print(count_words(text))
print(most_repeated(count_words(text)))